.table-head {
    height: 46px;

    margin-bottom: 24px;

    background-color: #F4F0F0;
}

.icon-divs>img {
    cursor: pointer;
}

.icon-divs>img:hover {
    transform: scale(130%);
}

.icon-divs {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 18px;
    gap: 17px;
}